.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  background-color: #0086ad;
  padding: 10px 20px 10px 20px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 50px;
}
.center {
  display: flex;
  flex-direction: column;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user {
  color: #97ebdb;
  width: 100px;
  height: 50px;
}
.userContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 100%; */
  /* margin-bottom: 10px; */
  border-top: 0.5px lightgray solid;
}

.xmark {
  width: 100px;
  height: 50px;
}

.registerSection {
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
