.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
  padding: 1rem;
  border: 1rem solid white;
  border-radius: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 5px solid #005582;
  border-radius: 5px;
  width: 30%;
  height: 30rem;
}
