.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
  padding: 1rem;
  border: 1rem solid white;
  border-radius: 10px;
}

.card {
  overflow-x: auto;
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: thick double #0086ad;
  box-shadow: 10px 5px 5px #0086ad;
  border-radius: 20px;
  width: 30%;
  height: 30rem;
  background-color: #daf8e3;
}
.title {
  color: black;
}
.containerAdd {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  align-items: center;
}
