.containerTask {
  min-height: 25px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #0086ad;
  font-family: "Ubuntu";
  font-size: 15px;
  /* border: 1px solid #0086ad; */
  box-shadow: 1px 1px 8px #0086ad;
  padding: 0 40px 0 20px;
}
.container {
  cursor: pointer;
  /* background-color: #97ebdb; */
}

.container input {
  display: none;
}

.container svg {
  overflow: visible;
}
.addTask {
  width: 70%;
}
.checkedBox {
  display: flex;
  gap: 20px;
}
.label {
  color: #0086ad;
  font-family: "Ubuntu";
  font-size: 13px;
}
.input {
  width: 10rem;
  height: 1.5rem;
  border-radius: 15px;
  background-color: #daf8e3;
  border: 1px solid #0086ad;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  filter: drop-shadow(0 0 0.5rem #97ebdb);
}
.input::placeholder {
  width: 10rem;
  height: 2rem;
  color: #00c2c7;
  letter-spacing: 0.5px;
  font-family: "Ubuntu";
  box-shadow: 10px 5px 5px #0086ad;
  font-size: 14px;
  padding-left: 5px;
  outline: none;
}
.input:hover {
  appearance: none;
  color: #0086ad;
  border: 1px solid #daf8e3;
}
.input:focus {
  background-color: #97ebdb;
  color: #0086ad;
  font-family: "ubuntu";
  padding-left: 10px;
}
.btn {
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 12px;
  border: 1px solid #00c2c7;
  background-color: #0086ad;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  color: #97ebdb;
  font-family: "Ubuntu";
  font-weight: bold;
}
.addListForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.addListForm input {
  color: #00c2c7;
  padding-left: 10px;
}
.containerInput {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.containerBtn {
  display: flex;
  width: 300px;
  justify-content: flex-end;
}
